<div class="header">
    <button>new record</button> updating in {{updateTimer}} seconds...
</div>

<div class="title">MATCHES</div>

<table>
    <thead>
        <td>ID</td>
        <td class="teams-column">TEAMS</td>
        <td>DATE</td>
        <td>TIME</td>
        <td>RESULT</td>
        <td>ACTIONS</td>
    </thead>
    <tbody>
        <ng-container *ngFor="let record of datasource">
            <tr>
                <td>{{record.id}}</td>
                <td class="teams-column">{{record.homeTeam | uppercase}} vs {{record.awayTeam | uppercase}}</td>
                <td>{{record.date}}</td>
                <td>{{record.time}}</td>
                <td>{{record.homeGoals}} - {{record.awayGoals}}</td>
                <td>
                    <button>remove</button>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>