.header {
    margin-bottom: 1em;
}

.title {
    background-color: black;
    color: white;
    font-size: large;
    width: 100%;
    text-align: center;
}

table {
    width: 100%;
    border-spacing: 0;
    border: 1px solid black;
    text-align: center;
    font-size: small;
}

thead {
    font-size: medium;
}

td {
    border: 1px solid black;
    width: 10%;
}

.teams-column {
    width: 50%;
}